/*  global styles */

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-image: url(images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 3%;
   
}


/*  container */



.textbox{
    width: 100%;
    max-width: 24rem;
    border: 0.5px ;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 5%;
    border: 0.5px solid;
}





.illustration-hero{
    width: 100%;
    border-radius: 15px 15px 0 0 ;
    
}



p{
    color: grey;
    font-size: 16px;
    width: fit-content;
    margin: 0;
}


h1{
    font-size: 1.6rem;
    font-weight: 900;
    color:hsl(223, 47%, 23%)
   ;}


 a{
    text-decoration: none;
 }


.attribution{
    margin-top: 5%;
}

main{
    display:flex;
    gap: .5rem;
    justify-content: space-between;
    background-color: aliceblue;
    margin: 1rem 0;
    padding:7px;
    align-items: center;
}

.flex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 500px;
    

}

footer{
    display: block;
}

button{
    padding: 1rem 2rem;
    color: white;
    background-color: blue;
    text-align: center;
    margin: 2px 0;
    border-radius: 19px;
    border: none;
    width: 100%;
}


#second-btn{
    background-color: transparent;
    color: black;
    border:1px solid aliceblue;
}

#second-btn:hover{
    background-color: aliceblue;
}

/* 
  *****work on annual plan leanin towards left
  
  *****change should be centralised vertically
  music icon should be smaller


 */